.contenedorAgregar{  
  width: 500px;
    height: auto;
    margin: 5px auto;
    border-radius: 10px;   
    background-color: #efeff3; 
    padding-left: 4px; 
  }

  .formularioAgregar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: .5px .5px 3px 1px rgb(125, 168, 23);
    border-radius: 12px;
  }

  .formAgregar{
    display: flex;
    flex-direction: column;
  }

  .titleYFlechita{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    left: -2px;
  }

  .imgFlechaAgregar {
    position: relative;
    width: 30px;
    height: 30px;
    transform: rotateY(180deg);
  }

  .imgFlechaAgregar:hover{
    opacity: 80%;
  }
  
  .h1Agregar{
    font-size: 39px;  
    text-align: center; 
    color: #b2d827;
    text-shadow: 1px 1px 1px black;
    margin: 0;
  }

  .pError{
    margin-top: 0px ;
    margin-bottom: 5px;
  }
  
  .inputAgregar{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    padding-left: 10px;
    padding-right: 10px;
  }

  .inputAgregar:focus{
    outline:0;
    border: 1px solid #97d848;
  }
  
  
  .textAreaAgregar{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 150px;
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    padding-left: 10px;
    padding-top: 6px; 
  }

  .textAreaAgregar:focus{
    outline:0;
    border: 1px solid #97d848;
  }
  
  label{
    display: block; 
    float: center;  
  }
  
  .buttonEnviar{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #ffff3f; 
    border-color: #000000a1; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;
  }

  .buttonEnviar:hover{
    opacity: 80%;
  }
  
  span{
    color: #ff0000; 
  }
  
  .aviso{
    font-size: 14px;  
    color: #0e0e0e;  
  } 
  
  .pAgregar{
    font-size: 13px; 
    color: #0e0e0e; 
    margin: 6px;
  }

.statsAgregar{
    display: flex;
    flex-direction: column;
}

.inputStats{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    font-size: 13px;
}

.inputStats > input {
    width: 60px
}

.statsAgregarColumna1, .statsAgregarColumna2{
    display: flex;
    justify-content: space-around;
}